.month_day{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  text-align: left;
  font-size: 12px;
  padding: 1px;
}

.gray{
  color: grey;
}

.today{
  color: red;
}

.edit{
  background-color: #ffe0cc
}

.dayname{
  font-weight: normal;
  text-align: left;
  font-size: 12px;
}

table{
  width: 100%;
  table-layout: fixed;
}

.calendar{
  position: relative;
  min-width: 500px;
  min-height: 500px;
}

.calendar-container{
  position: absolute;
  top: 35px;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px;
}

.week-row{
  position: absolute;
  left: 0;
  overflow: visible;
  min-width: 650px;
}

.event{
  height: 20px;
  font-size: 11px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  white-space: nowrap;
}

.probel{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  color: white;
}

.noselect{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.event_all{
  padding-top: 2px;
  padding-bottom: 2px;
}

.event-begin{
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 10px;
  border: 2px solid;
  border-right: 0px;
}

.event-end{
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 10px;
  border: 2px solid;
  border-left: 0px;
}

.event-end.event-begin{
  border: 2px solid;
}

.task-border-color{
  border-color: #055254 !important;
  background-color: #0ebcf1 !important;
}

.event-border-color{
  border-color: rgb(55, 58, 215) !important;
}

.muxa{
  position: absolute;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  background: #fff;
  border: 1px solid #ccc;
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
  border-radius: 10px;
  background-color: #2fc58b;
  z-index: 1004;
}

.muxa2{
  position: absolute;
  min-width: 150px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
  background: #ffffff;
  border: 1px solid #000;
  -moz-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  background-color: #e2e0e0;
  z-index: 1003;
}

.more{
  color: #15c;
  cursor: pointer;
  font-size: 11px;
  float: right;
  margin-right: 5px;
}

.allEvents{
  padding: 1px;
  margin: 5px;
  float: none;
}

.notice{
  min-width: 470px;
}
