<editEvent (finished)="finished($event)" *ngIf="editEvent" [xPos]="mouseX" [yPos]="mouseY" [event]="editObjEvent"></editEvent>
<addEvent (finished)="finished($event)" *ngIf="addEvent" [dateBegin]="eventBeginDay" [dateEnd]="eventEndDay" [xPos]="mouseX" [yPos]="mouseY"></addEvent>
<div class="muxa" *ngIf="moveEvent" [style.top]="mouseYcur" [style.left]="mouseXcur">
  &nbsp;{{moveObjEvent.event.name}}&nbsp;({{dayCount}} days)
</div>
<div class="container-fluid" (mousemove)="mouseMove($event)" (mousedown)="fresh()" (mouseup)="fresh()" (window:resize)=getHeightCalendar() (document:load)=getHeightCalendar()>
  <div class="col-sm-7" >
    <h1 (click)="logout()">{{months[month]}}, {{year}}</h1>
    <div class="calendar" [ngStyle]="{'height':tableHeight}" (wheel)="onScroll($event)">
      <table class="table table-bordered week-row">
        <tbody (click)="fresh()">
          <tr>
            <th class="dayname" id="OuterSvgW">Monday</th>
            <th class="dayname">Tuesday</th>
            <th class="dayname">Wednesday</th>
            <th class="dayname">Thursday</th>
            <th class="dayname">Friday</th>
            <th class="dayname">Saturday</th>
            <th class="dayname">Sunday</th>
          </tr>
        </tbody>
      </table>
      <div class="calendar-container">
        <table class="table table-bordered week-row" *ngFor="let week of calendarWeek" [style.top]="getTop(week)" [style.height]="getHeight(week)">
          <tr>
            <td *ngFor="let day of week"
            (mousedown)="onClick(day.month_day, day.month_this); eventSTOP($event)"
            (mouseup)="onMouseUp($event, day.month_day, day.month_this); eventSTOP($event)"
            [class.edit]="day.edit"
            (mouseenter)="onMouseMove($event, day.month_day, day.month_this); eventSTOP($event)"
            id="OuterSvgH">
            </td>
          </tr>
        </table>
        <table class="week-row" *ngFor="let week of calendarWeek" [style.top]="getTop(week)">
          <td *ngFor="let day of week"
          (mousedown)="onClick(day.month_day, day.month_this); eventSTOP($event)"
          (mouseenter)="onMouseMove($event, day.month_day, day.month_this); eventSTOP($event)"
          (mouseup)="onMouseUp($event, day.month_day, day.month_this); eventSTOP($event)"
          click-stop-propagation>

            <div class="muxa2" [hidden]="!showEvents" *ngIf="day==showEventsDay"
            (click)="eventSTOP($event)"
            (mouseup)="moveEvent = 0;eventSTOP($event)"
            (mousedown)="eventSTOP($event)">
              <div class="month_day" style="background-color: #bfbdbd; padding-bottom: 4px;">
                {{day.month_day}}
              </div>
              <div *ngFor="let event of shownEvents">
                <div *ngIf="event"
                [style.background-color]="event.color" class="event allEvents"
                [class.event-begin]="event.type == 1||event.type == 3"
                [class.event-end]="event.type == 2||event.type == 3"
                [class.task-border-color]="event.event.eventType==1"
                [class.event-border-color]="event.event.eventType==0"
                (click)="onSelect($event, event); eventSTOP($event)"
                (mousedown)="pickEvent(event, day); eventSTOP($event)">
                  &nbsp;{{event.event.name}}
                  <span class="glyphicon glyphicon-ok" *ngIf="event.event.status"></span>
                  <span class="glyphicon glyphicon-remove" *ngIf="!event.event.status"></span>
                </div>
              </div>
            </div>

            <tr
            [class.gray]="!day.month_this"
            [class.today]="today.getDate()==day.month_day&&today.getMonth()==month&&today.getYear()+1900==year&&day.month_this"
            class="month_day">
              &nbsp;{{day.month_day}}&nbsp;
              <div *ngIf="trCount<day.events.length" class="more"
              (click)="showAllEvents(day); eventSTOP($event)"
              (mousedown)="eventSTOP($event)">
                more...
              </div>
            </tr>

            <tr *ngFor="let event of day.events">
              <div class="event_all" [style.width]="getEventWidth()">
                <div [style.background-color]="event.color" class="event noselect" *ngIf="event&&trCount>event.position"
                [class.event-begin]="event.type == 1||event.type == 3"
                [class.event-end]="event.type == 2||event.type == 3"
                [class.task-border-color]="event.event.eventType==1"
                [class.event-border-color]="event.event.eventType==0"
                (click)="onSelect($event, event); eventSTOP($event)"
                (mousedown)="pickEvent(event, day); eventSTOP($event)">
                  &nbsp;&nbsp;{{event.name}}
                  <span *ngIf="event.event.eventType==0&&event.name">
                    <span class="glyphicon glyphicon-ok" *ngIf="event.event.status"></span>
                    <span class="glyphicon glyphicon-remove" *ngIf="!event.event.status"></span>
                  </span>
                </div>
                <div *ngIf="!event" class="probel">
                  &nbsp;
                </div>
              </div>
            </tr>
          </td>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-5 notice">
    <h1>Notifications</h1>
    <notification *ngIf="refresh" (openEvent)="openEvent($event)">
      Loading...
    </notification>
  </div>
</div>
