<style>
.bubble {
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    background: #fff;
    border: 1px solid #ccc;
    position: absolute;
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    top: 0;

}
.mid{
  padding: 6px;
}
</style>

<div class="bubble" style="z-index: 1001; width: 400px; visibility: visible;" [hidden]="hidden" [style.top]="yPos" [style.left]="xPos">
  <div class="mid">
    <label *ngIf="event.eventType==0">Task</label>
    <label *ngIf="event.eventType==1">Event</label>
  </div>
  <div class="mid">
    <label>Title: {{event.name}}</label>
    <br/>
    <label>Description: {{event.description}}</label>
  </div>
  <div class="mid row">
    <div class="col-sm-6">
      From:
      <input class="form-control" [(ngModel)]="event.dateBegin"  disabled>
    </div>
    <div class="col-sm-6">
      <div *ngIf="event.eventType">To:</div><div *ngIf="!event.eventType">DeadLine:</div>
      <input class="form-control" [(ngModel)]="event.dateEnd"  disabled>
    </div>
    <div class="col-sm-12" *ngIf="!event.eventType">
      <label>Status: </label><input type="checkbox" [(ngModel)]="event.status" (click)="changeStatus()"/><br/>
      <label>Complited: </label><br/>
      <input class="form-control" [(ngModel)]="event.dateEnded" disabled>
    </div>
  </div>
  <div class="mid">
    <button type="button" class="btn" (click)="back()">back</button>
    <span class="pull-right"><button type="button" class="btn btn-primary" (click)="edit()">Edit</button></span>
  </div>
</div>
