<div class="my-body">
  <div class="wrapper">

    <div *ngIf="reg" class="login">
      <form class="registration">
        <p class="title">Registration<span style="color:red; float:right">{{error}}</span></p>
        <input type="text" placeholder="Username" required [(ngModel)]="loginF"/>
        <input type="password" placeholder="Password" required [(ngModel)]="passwordF"/>
        <input type="text" placeholder="Email" required [(ngModel)]="emailF"/>
        <a (click)="reg = !reg">Back?</a>
        <button (click)="register()">
          <i class="spinner"></i>
          <span class="state">Submit</span>
        </button>
      </form>
    </div>

    <form class="login" *ngIf="!reg">
      <p class="title">Log in <span style="color:red; float:right">{{error}}</span><span style="color:green; float:right">{{status}}</span></p>
      <input type="text" placeholder="Username or email" required [(ngModel)]="login"/>
      <i class="fa fa-user"></i>
      <input type="password" placeholder="Password" required [(ngModel)]="password"/>
      <i class="fa fa-key"></i>
      <a (click)="some()">Do not have an account?</a>
      <button (click)="submit()">
        <i class="spinner"></i>
        <span class="state">Submit</span>
      </button>
    </form>
    <footer>Very social,  Very calendar,  Very seriously</footer>
  </div>
</div>
