<style>
  .group{
    padding: 10px;
  }
  .mid{
    padding: 6px;
  }
  fieldset{
    padding: 10px;
  }
</style>

<div class="container">
  <div class="col-sm-8 group" *ngIf="event">
    <fieldset>
      <legend>"{{event.name}}" details!</legend>
      <div class="mid">
        <label>Type:</label>
        <label class="radio-inline"><input type="radio" name="optradio" (click)="event.eventType = 0" [checked]="0 === event.eventType">Task</label>
        <label class="radio-inline"><input type="radio" name="optradio" (click)="event.eventType = 1" [checked]="1 === event.eventType">Event</label>
      </div>
      <div class="group">
        <label>Name: </label><br/>
        <input class="form-control" [(ngModel)]="event.name" placeholder="name"/>
      </div>
      <div class="group">
        <label>Description: </label><br/>
        <textarea class="form-control" [(ngModel)]="event.description" placeholder="description"></textarea>
      </div>
      <div class="group">
        <label>Created date:</label><br/>
        <input class="form-control" [(ngModel)]="event.dateSet" disabled>
      </div>
      <div class="col-sm-6">
        From:
        <input class="form-control" [(ngModel)]="event.dateBegin"  disabled>
      </div>
      <div class="col-sm-6">
        <div *ngIf="event.eventType">To:</div><div *ngIf="!event.eventType">DeadLine:</div>
        <input class="form-control" [(ngModel)]="event.dateEnd"  disabled>
      </div>
      <div class="group" *ngIf="!event.eventType">
        <label>Status: </label><input type="checkbox" [(ngModel)]="event.status" (click)="changeStatus()"/><br/>
        <label>Complited: </label><br/>
        <input class="form-control" [(ngModel)]="event.dateEnded" disabled>
      </div>
    </fieldset>
    <div class="group">
      <div class="group">
        <button class="btn btn-primary" (click)="goBack()">Back</button>
        <button class="btn btn-primary" (click)="save()">Save</button>
        <button class="btn btn-primary" (click)="delete()">Delete</button>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
  </div>
</div>
