<style>
.bubble {
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    background: #fff;
    border: 1px solid #ccc;
    position: absolute;
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    top: 0;

}
.mid{
  padding: 6px;
}
</style>

<div class="bubble" style="z-index: 1001; width: 400px; visibility: visible;" [hidden]="hidden" [style.top]="yPos" [style.left]="xPos">
  <div class="mid">
    <label>Create:</label>
    <label class="radio-inline"><input type="radio" name="optradio" (click)="type = 0" [checked]="0 === type">Task</label>
    <label class="radio-inline"><input type="radio" name="optradio" (click)="type = 1" [checked]="1 === type">Event</label>
  </div>
  <div class="mid">
    <input type="text" class="form-control" placeholder="Name" [(ngModel)]="taskName">
  </div>
  <div class="mid row">
    <div class="col-sm-6">
      From:
      <input class="form-control" [(ngModel)]="dateBegin"  disabled>
    </div>
    <div class="col-sm-6">
      <div *ngIf="type">To:</div><div *ngIf="!type">DeadLine:</div>
      <input class="form-control" [(ngModel)]="dateEnd"  disabled>
    </div>
  </div>
  <div class="mid">
    <button class="btn" (click)="back()">Cancel</button>
    <span class="pull-right"><button type="button" class="btn btn-primary" (click)="save()">Save</button></span>
  </div>
</div>
