<style>
  .notification{
    overflow: scroll;
    overflow-x: hidden;
  }
</style>

<div [style.max-height]="getMaxHeight()" class="notification" (mousedown)="eventSTOP($event)" (click)="eventSTOP($event)">
  <table class="table">
    <tbody>
      <tr>
        <th>Id</th>
        <th>Active</th>
        <th>Event name</th>
        <th>Begin date</th>
        <th>End date</th>
      </tr>
    </tbody>
    <tr *ngFor="let event of events" (click)="open(event.id)">
      <td>
        {{event.id}}
      </td>
      <td>
        <span *ngIf="cmpDateWithToday('>=', event.dateBegin)&&cmpDateWithToday('<=', event.dateEnd)" class="glyphicon glyphicon-send" title="in progress"></span>
        <span *ngIf="cmpDateWithToday('>', event.dateEnd)" class="glyphicon glyphicon-ok" title="ended"></span>
        <span *ngIf="cmpDateWithToday('<', event.dateBegin)" class="glyphicon glyphicon-unchecked" title="soon"></span>
      </td>
      <td title="{{event.description}}">
        {{event.name}}
      </td>
      <td>
        <span *ngIf="cmpDateWithToday('>=', event.dateBegin)" title="{{event.dateBegin.slice(0, 10)}}">Already begin</span>
        <span *ngIf="cmpDateWithToday('<', event.dateBegin)">{{event.dateBegin.slice(0, 10)}}</span>
      </td>
      <td>
        <span *ngIf="cmpDateWithToday('>', event.dateBegin)&&cmpDateWithToday('>', event.dateEnd)" title="{{event.dateEnd.slice(0, 10)}}">Ended</span>
        <span *ngIf="cmpDateWithToday('<=', event.dateEnd)">{{event.dateEnd.slice(0, 10)}}</span>
      </td>
    </tr>
  </table>
  <table class="table">
    <tbody>
      <tr>
        <th>
          Id
        </th>
        <th>
          Task name
        </th>
        <th>
          Status
        </th>
        <th>
          To deadline
        </th>
      </tr>
    </tbody>
    <tr *ngFor="let task of tasks" (click)="open(task.id)">
      <td *ngIf="!(task.status&&getDaysLeft(task.dateEnd)<0)&&cmpDateWithToday('>=', task.dateBegin)">
        {{ task.id }}
      </td>
      <td *ngIf="!(task.status&&getDaysLeft(task.dateEnd)<0)&&cmpDateWithToday('>=', task.dateBegin)" title="{{task.description}}">
        {{ task.name }}
      </td>
      <td *ngIf="!(task.status&&getDaysLeft(task.dateEnd)<0)&&cmpDateWithToday('>=', task.dateBegin)">
        <span *ngIf="task.status" class="glyphicon glyphicon-ok" title="complited"></span>
        <span *ngIf="!task.status" class="glyphicon glyphicon-unchecked" title="in progress"></span>
      </td>
      <td *ngIf="!(task.status&&getDaysLeft(task.dateEnd)<0)&&cmpDateWithToday('>=', task.dateBegin)" title="{{task.dateEnd.slice(0, 10)}}">
        {{ getDeadline(task.dateEnd) }}
      </td>
    </tr>
  </table>
</div>
